*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header{
    padding: 40px;
    background-color: red;
color: aliceblue;
font-size: 40px;

}

nav{
background-color:#BC6BFA;
padding: 20px;
font-size: 20px;
color: white;
}


nav a:link{
color: rgb(130, 193, 244);
}

nav a:visited{
    color: rgb(174, 28, 28);
}
nav a:active{
    color: black;
}
nav a:hover{
    color: chartreuse;
    text-decoration: none;/*linkin üzeirne gelindiginde*/
}
  nav a{
    /* text-decoration: none;
    cizgiyi kaldırır */
    /* text-decoration: underline;
    altcizgiyi ekler defaulttur */
    /* text-decoration: overline;
    cizgiyi linki üstüne koyar */
    /* text-decoration: line-through;
    cizgiyi üstünde koyar  */
} 


 h2{
    margin: 20px 0px;
 }

footer{
    background: rgba(53, 51, 51, 0.596);
    padding: 20px;
    color: white;
}
figcaption{
    margin-bottom: 20px;
}